@charset UTF-8;


/* ================================================ */
/*               全体設定                */
/* ================================================ */

* {
  box-sizing: border-box;
}


body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif, Verdana, "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	background-color: #c0dde5;
	margin: 0 auto;
	padding: 0 auto;
	min-height: 100vh;
}




/* ================================================ */
/*ヘッダー：など場所をこまめに書く！*/
/* ================================================ */


.inner {
	margin: 0 auto;
	max-width:1000px;
	text-align: center;

}

.main-header img {
	display: flex;
	margin-top: 20px;
	max-width: 370px;
	width: 100%;
	height: auto;

}

.topbutton {

	text-align: center;
	display: flex;
	justify-content:space-around;
	margin-top: 20px;
	margin-bottom: 20px;
	align-items: center;

}


iframe {
	max-width: 1000px;
	max-height: 600px;
	text-align: center;
	width: calc(100vw - 30px);
  	height: calc(960 / 1692 * 100vw);

}


.clear {
	clear: both;
}

.inner-second {
	ext-align: center;

}



/*===============================================
●style.css 画面の横幅が670px以下
===============================================*/


@media screen and (max-width: 670px) {

	.main-header img {
		max-width: 200px;
			}

	.topbutton img {
		height: auto;
	}

	.about-discription {
		padding: 10px;
	}

	.member-discription {
		padding: 10px;
	}

	.about-discography {
		padding: 10px;
	}

	.about-photo {
		padding: 10px;
	}


}




/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/


.content-title  {
	margin-top: 80px;
	text-align: center;
	font-size: 28px;
	width: 100%;
}



.photo-slider img {
	margin-top: 64px;
	width: 415px;
	height: 350px;
	padding-right: 80px; 

}

.discription {
	margin-top: 64px;
	background-image: url(images/about-img.png);
	width:100%;
	background-size: 500px;
	background-repeat: no-repeat;
	


}

.discription p {
	font-size: 20px;
	margin: 0;
	padding: 0px;
	margin-top: 50px;
	
	

}

.about-section {
	display: flex;
}


/*===============================================
●style.css 画面の横幅が670px以下
===============================================*/


@media screen and (max-width: 670px) {

	.inner {
		margin-right: 10px;
		margin-left: 10px;
	}

	.content-title img {
		width: 370px;
  		overflow: visible;
  }

	.photo-slider img {
		display: none;
	}

	.discription p {
		font-size: 14px;
		margin-top: 22px;
	}

	.discription  {
		background-image: none;
	}

}


/* ================================================ */
/*メインコンテンツ*/
/* ================================================ */



/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/


.info-title {
	margin-top: 64px;
	text-align: center;
	font-size: 28px;
	width: 100%;
}




.three img {
	width: 230px;
	height:230px;
	padding-bottom: 15px;
 

}

.three {
	display: flex;
    justify-content:space-between;
    padding-top: 64px;
}

.three div {
	width: 240px;
}

.three p {
	margin-bottom: 10px; 
	border: 1px 
	dashed #5a4109; 
	border-radius: 5px; 
	background-color: #fff5df;
	font-size: 14px;
	padding: 20px;
/*    width: 200px;
*/

}


.two img {
	width: 230px;
	height:230px;
	margin-bottom: 15px;
	
}

.two {
	display: flex;
    justify-content:space-between;
    padding: 64px 140px;

}

.two p {
	
	padding: 10px; 
	margin-bottom: 10px; 
	border: 1px 
	dashed #5a4109; 
	border-radius: 5px; 
	background-color: #fff5df;
	font-size: 14px;
	padding: 20px;

    

}



.discography-title {
	text-align: center;
	width: 100%;


}

.discography-image img {
	float: left;
	margin-top: 30px;
}

.img-1 {
	margin-right:10px;
}



.discography-content {
	font-size: 20px;
	padding-top: 80px;
	float: left;
	margin-left: 60px;
	color: #5a4109;

}


.discography-content p {
	text-align: center;
}


.button {
	text-align: center;
}



/* ================================================ */
/*書く*/
/* ================================================ */

.button img {
	clear: left;
	padding-top: 50px;
	margin: 1px;

}

.button {
	background-color: #DC143C;
	transition-property: all;
	transition: 0.2s linear;
 }

.button a:hover {
background-color: #9e0e2b;
}


.photo-title {
	text-align: center;
	width: 100%;
}

.photo-images {
	margin-top: 64px;
	text-align: center;
}




/*===============================================
●style.css 画面の横幅が670px以下
===============================================*/


@media screen and (max-width: 670px) {

	.discription p {
		margin-top: 0px;
	}

	.info-title img {
		width: 370px;
  		overflow: visible;
	}
	
	.three {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-direction: column;
	    height: 200px;
	}

	.rin p {
		text-align: left;
	}

	.azu {
		margin-top: 60px;
	}

	.azu p {
		text-align: left;
	}


	.maru {
		margin-top: 60px;
	}

	.maru p {
		text-align: left;
	}



	.two {
		margin-top: 890px;
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-direction: column;
	    height: 20px;
	}

	.sakairi {
		margin-top: 200px;
	}

	.sakairi p {
		text-align: left;
	}

	.yui {
		margin-top: 60px;
	}

	.yui p {
		text-align: left;
	}


	.discography-title img {

		margin-top: 1080px;
		width: 370px;
	  	overflow: visible;

	}

	.discography-image {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-direction: column;
	    height: 20px;

	}

	.img-1 {
		margin-top: 30px;
		margin-bottom: 30px;

	}


	.discography-content {
		font-size: 20px;
		padding-top: 30px;
		margin-right: 50px;

	}

	.button {
		margin-bottom: 20px;
	}


	.photo-title img {
		display:none;
	}

	.photo-images img {
		display: none;
	}

}


/* ================================================ */
/*フッター*/
/* ================================================ */



/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){

.footer {
	margin-top: 30px;
	margin-bottom: 30px;

}



}


/*===============================================
●style.css 画面の横幅が670px以下
===============================================*/


@media screen and (max-width: 670px) {
	.footer {
		margin-top: 1080px;
		margin-bottom: 20px;
	}
}




